* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  margin: 50px 15rem 0rem 15rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.btn-registrasi {
  background: linear-gradient(to right, #326cff, #59ffb9);
  padding: 0px 25px 0px 25px;
  margin-left: 10px;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

header {
  background: url("../assets/img/bg-desktop.png") no-repeat;
  position: absolute;
  background-size: 100% 100%;
}

header .text {
  margin: 0rem 15rem 0rem 15rem;
}

.landingPage h1 {
  font-size: 120px;
  font-style: italic;
}
