* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  margin: 50px 15rem 0rem 15rem;
  backdrop-filter: blur(15px);
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.navbar-nav {
  gap: 5rem;
}

.navbar-nav .nav-item:hover {
  backdrop-filter: blur(20px);
  border-radius: 10rem;
  transform: scale(1.1);
  padding: 0px 10px 0px 10px;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.btn-registrasi {
  background: linear-gradient(to right, #326cff, #59ffb9);
  padding: 0px 25px 0px 25px;
  margin-left: 5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

.btn-registrasi:hover {
  background: linear-gradient(to right, #59ffb9, #326cff);
  padding: 0px 25px 0px 25px;
  margin-left: 5rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}

header {
  background: url("../assets/img/bg-desktop.png") no-repeat;
  position: absolute;
  background-size: 100% 100%;
}

header .text {
  margin: 0rem 15rem 0rem 15rem;
}

.landingPage .header-box h1 {
  font-size: 120px;
  font-style: italic;
}

.landingPage .maps {
  margin-top: 900px;
}

.landingPage .maps .row:nth-child(1) {
  padding-top: 150px;
  padding-bottom: 100px;
}

.landingPage .maps .row:nth-child(1) .card {
  background: linear-gradient(to right top, #326cff, #59ffb9) !important;
  border: none;
}

.landingPage .swiper .row:nth-child(1) {
  background: linear-gradient(to right, #326cff, #59ffb9);
}
